# Local
*.env
*.pem
*.local

# Logs
logs
*.log

# Artifacts
build
dist
*.tsbuildinfo
*.tgz

# Testing
coverage

# Package Manager
node_modules

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
